<nav class="navbar login" role="navigation">
      <div class="container nomarginB">
            <div class="navbar-header image">
                  <img src="assets/images/Login_header.png" class="img-responsive image1" alt="IHSS Logo Image">
                  <img src="assets/images/Login_screen_header.png" class="img-responsive image2" alt="IHSS Logo Image">

            </div>
      </div>
</nav>

<div class="container containerLogin loginCntnr">
      <div class="row">
            <div class="col-md-6 col-sm-6 padd-right">
                  <div class="col-md-12 no-pad-left login-pad-right padd-right chl">
                        <div class="fontSizeHeader login-text-color headFont">
                        
      {{usertext}}
                        </div>
                        <br>
                        <br>
                        
                  </div>
            </div>
      </div>
</div>