.displayMobile{
    display: none;
}
.displayDesktop{
     display: block;
    }

@media all and (min-width: 100px) and (max-width: 1024px)
 {
    .displayDesktop{
        display: none;
    }
    .displayMobile{
        display: block;
    }
    

 }

 